<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.ZichanxiaohaoMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Zichanxiaohao">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="yuanquzichanid" property="yuanquzichanid" jdbcType="INTEGER"/>
                                    <result column="zichanbianhao" property="zichanbianhao" jdbcType="VARCHAR"/>
                                    <result column="zichanmingcheng" property="zichanmingcheng" jdbcType="VARCHAR"/>
                                    <result column="zichanleixing" property="zichanleixing" jdbcType="VARCHAR"/>
                                    <result column="xiangmu" property="xiangmu" jdbcType="VARCHAR"/>
                                    <result column="xiaohaoshuliang" property="xiaohaoshuliang" jdbcType="INTEGER"/>
                                    <result column="beizhu" property="beizhu" jdbcType="VARCHAR"/>
                                    <result column="caozuoren" property="caozuoren" jdbcType="VARCHAR"/>
                                
    </resultMap>
    <sql id="Base_Column_List">
        id, yuanquzichanid, zichanbianhao, zichanmingcheng, zichanleixing, xiangmu, xiaohaoshuliang, beizhu, caozuoren    </sql>
    </mapper>
